


.img-text{

    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}

.text-button{
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    border-radius: 20px;
    background-color: gold;
    font-weight: bold;
    color: black;
    padding: 10px;
    width: 100px;

}
button:hover {
    background-color: black;
    color: gold;
}

#titulo{
    margin-left: 20%;
    font-size: xx-large;
}

.why{
    background-color: rgb(159, 159, 159);
    width: 90%;
    height: 600px;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.text{
    height: 50%;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.parrafo{
    width: 50%;
    margin-inline: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 

.titulo2{
    font-size: xx-large;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#iconitos{
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

aside{
    background-image: linear-gradient( to right, rgb(78, 78, 78), white, rgb(78, 78, 78));
}

aside img{
    border: 2px solid black;
    border-radius: 50%;
    padding: 20px;
    object-fit: 50% 50%;
}

#cajas{
    width: 80%;
    margin: 0 auto;
    display: flex;

}
#cajas div{
    padding-inline: 80px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#caja-central{
    border: 2px solid gold;
    border-radius: 10%;
}
#precio-central{
    border: 2px solid gold;
    background-color: black;
    color: white;
    border-radius: 10%;
    
}
#perfiles{
    background-image: linear-gradient( to right, rgb(78, 78, 78), white, rgb(78, 78, 78));
    font-weight: bold;
    border-radius: 20px;
    font-size: xx-large;
    display: flex;
    justify-content: space-evenly;
}
#perfiles img{
    border-radius: 50%;
    width: 100px;
}

#flotante-informacion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.flotante{
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 100px;
    padding: 1%;
}
.flotante a{
    color: white;
    text-decoration: none;
}
.flotante a:hover{
    color: yellow;
}

#informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20%;
}

#contacto {

    width: 90%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
#contacto div{
    width: 90%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

footer{
    background-color: gold;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}